##1 .Write a for loop program to print all elements of a tuple.

In [2]:
a = (1,2,3,4,5)

for i in a:
  print(i)

1
2
3
4
5

##2. Write a while loop program to print all elements of a tuple using indexes.

In [9]:
a = (1,2,3,4,5)
i = 0

while i < len(a):
  print(a[i])
  i = i+1

1
2
3
4
5

##3. Write a for loop program to count how many even numbers are present in a tuple.

In [35]:
a = (1,2,3,4,5)
c = 0
for i in a:
  if i % 2 == 0:
    c = c + 1
print('count')

count

##4. Write a while loop program to find the largest value in a tuple.

In [14]:
a = (1,22,3,4,61)
large = a[0]
i = 0

while i < len(a):
  if a[i] > large:
    large = a[i]
  i = i + 1
print(large)

61

##5. Write a for loop program to print the index and value of each tuple element.

In [19]:
a = (1,2,3,4,5,6)

for i in range(len(a)):
  print(i,a[i])

0 1
1 2
2 3
3 4
4 5
5 6

##6. Write a while loop program to reverse a tuple manually without using slicing.

In [86]:
a=(1,2,3,4,5)
n = len(a)-1

while n>=0:
  print(a[n],end=' ')
  n=n-1

5 4 3 2 1

##7. Write a for loop program to create a new tuple containing only odd numbers from an existing tuple.

In [49]:
a = (1,2,3,4,5)
b = []

for i in a:
  if i%2!=0:
   b.append(i)
print(tuple(b))

(1, 3, 5)

##8. Write a while loop program that prints elements until a specific value is found, then stops.

In [60]:
a = (1,2,3,4,5)
i = 0
while i<len(a):
  if i == 4:
    break

  print(i)
  i = i+1

0
1
2
3

##9. Write a for loop program to calculate the sum of all numbers inside a tuple.

In [62]:
a = (1,2,3,4,5)
sum = 0


for i in a:
  sum = sum + i
print(sum)

15

##10. Write a while loop program to count how many times a particular element occurs in a tuple.

In [69]:
a=(1,4,4,2,5,4,5)

i = 0
c = 0
while i<len(a):
  if a[i]==4:
    c=c+1
  i=i+1
print(c)

3

##11. Write a for loop program to find how many strings in a tuple have length greater than 5.

In [74]:
a=('ravali','shiv','shivansh','andeep')
c=0
i=0
while i<len(a):
  if len(a[i])>5:
    c=c+1
  i=i+1
print(f'{c} strings have length greater than 5')

3 strings have length greater than 5

##12. Write a while loop program to print alternate elements of a tuple.

In [76]:
a=(1,'anu','ravali',2)
i=0
while i<len(a):
  print(a[i])
  i=i+2

1
ravali

##13. Write a for loop program to separate elements of a tuple into two new tuples: one with even numbers and one with odd numbers.

In [79]:
a=(10,11,12,13,14,15,16)
o = []
e = []
i = 0
while i <len(a):
  if a[i]%2==0:
    e.append(a[i])
  else:
    o.append(a[i])
  i=i+1
odd=tuple(o)
even=tuple(e)
print(even)
print(odd)

(10, 12, 14, 16)
(11, 13, 15)

##14. Write a while loop program to copy elements from one tuple to a new tuple.

In [81]:
a=(1,1,2,1,3,1,21,3)
b = []
i = 0
while i<len(a):
  b.append(a[i])
  i = i+1
c=tuple(b)
print(c)

(1, 1, 2, 1, 3, 1, 21, 3)

##15. Write a for loop program to print only those tuple elements that are divisible by 3.

In [82]:
a = (1,2,3,4,5)

for i in a:
  if i % 3 == 0:
    print(i)

3